body {
margin: none;
background-color: white;
min-width: 200px;
max-width: 300px;
min-height: 200px;
max-height: 300px;
font-size: 1.1rem;
font-family: 'Roboto', sans-serif;

display: flex;
justify-content: center;
}

hr {
width: 100%;
color: black; 
}

kbd {
padding-top: 0.375rem;
padding-bottom: 0.375rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
background-color: #F3F4F6;
color: #1F2937;
font-size: 0.75rem;
line-height: 1rem;
font-weight: 600;
border-radius: 0.5rem;
border-width: 1px;
border-color: #E5E7EB;
margin: .5em;
}

#divider-select {
  font-size: 1.1rem; 
  padding: 5px;
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

.main-section {
width: 90%;
height: 90%;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.header-row {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: space-around;
}

.row {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
